<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
</head>
<body>
<!--<p th:text="|Hello, ${name}!|"/>-->
<p th:if="${error}" th:text="|Error: ${error}|"></p>
<h2>Update Greeting</h2>
<form th:action="@{/greeting-btvn3/update/{id}(id=${greeting.id})}"
      th:object="${greeting}" method="post">
    <label for="idMessageUpdate">ID</label><br>
    <input type="text" id="idMessageUpdate" th:field="*{id}" readonly disabled><br>
    <label for="messageUpdate">Message</label><br>
    <input type="text" id="messageUpdate" th:field="*{greetingMessage}"><br>
    <label for="dateGreetingUpdate">Date:</label><br>
    <input type="date" id="dateGreetingUpdate" th:field="${greeting.dateGreeting}"><br><br>
    <input type="submit" value="Update">
</form>

</body>
</html>